<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    
<div class="container">
    <div class=" row justify-content-center">
        <div class="col-sm-8">
             <h2>user dashboard</h2>
             <p><b>Name:</b> {{ user.name }}</p>
             <p><b>Email:</b></p>{{ user.email }}
             <p><b>Password:</b></p>{{ user.password }}
        </div>
    </div>
  
</body>
</html>